* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Navbar Section Start*/
/*Navbar Section Start*/
.header__container {
  padding: 2rem 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.header__logo img {
  max-width: 100%;
  height: 93.77px;
}
.header__nav-item {
  display: inline-block;
  padding: 10px 20px;
}
.header__nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.header__link {
  text-decoration: none;
  padding: 7px 22px;
  font-weight: 500;
}
.header__link--log_in {
  background-color: #54b8ff;
  color: white;
}
.header__icon {
  font-size: 30px;
  align-items: center;
  display: none;
}
.header-active {
  display: none;
}

/*Navbar Section End*/
/*Navbar Section End*/
/*Home Section Start*/
/*Home Section Start*/
.home {
  background: url(img/bg-img.png);
  height: 280vh;
  width: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  position: relative;
}
.home__container {
  display: flex;
  justify-content: space-between;
}
.home__content {
  padding: 4rem 15%;
  position: relative;
}
.home__sub-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.home__title {
  font-size: 65px;
  font-weight: 700;
  color: #5f596e;
}
.home__para {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  margin-top: 20px;
}
.home__button {
  padding: 10px 30px;
  background-color: #54b8ff;
  display: inline-block;
  text-decoration: none;
  margin-top: 40px;
}
.home__button--link {
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 16px;
}
.home__button--link i {
  font-size: 25px;
}
.home .home__ornament_g1 {
  bottom: 5%;
  right: 28%;
  position: absolute;
}
.home .home__ornament_g2 {
  bottom: 16%;
  right: 28%;
  position: absolute;
}
.home .home__ornament_g3 {
  bottom: 5%;
  right: 40%;
  position: absolute;
}
.home .home__ornament_g4 {
  bottom: 16%;
  right: 40%;
  position: absolute;
}
.home .home__ornament_g5 {
  bottom: 27%;
  right: 28%;
  position: absolute;
}
.home__ornament-1 {
  top: 24%;
  right: 0;
  position: absolute;
}
.home__ornament-2 {
  top: 10%;
  left: 0;
  position: absolute;
}
.home__ornament-3 {
  top: 22%;
  left: 0;
  position: absolute;
}
.home__ornament-4 {
  top: 60%;
  right: 0;
  position: absolute;
}

/*Navbar Section End*/
/*Navbar Section End*/
/*About Section Start*/
/*About Section Start*/
.about {
  position: absolute;
  top: 135%;
}
.about__container {
  padding: 2rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.about__card {
  max-width: 100%;
  position: relative;
}
.about__card-2 {
  position: absolute;
  background-color: #f7f7f7;
  bottom: 40px;
  width: 344px;
  height: 414px;
  border-radius: 20px;
  box-shadow: 0px 11px 19px #b1acac;
  z-index: 1;
}
.about__card-2_1 {
  padding: 2rem;
  height: 395px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}
.about__card-2_1 img {
  width: 100%;
  border-radius: 20px;
}
.about__card-2-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  margin-top: 30px;
}
.about__card-2-btn {
  background-color: #367166;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 15px;
  border-radius: 8px;
}
.about__card-2-day, .about__card-2-time {
  font-size: 14px;
  font-weight: 500;
  color: #898e92;
}
.about__card-2--sub_title {
  color: #ff733b;
  font-size: 16px;
  font-weight: 500;
}
.about__card-2--title {
  font-size: 26px;
  font-weight: 600;
}
.about__card-2--para {
  color: #898e92;
  font-size: 14px;
  font-weight: 400;
}
.about__card-3 {
  position: relative;
  background-color: #f7f7f7;
  bottom: 112px;
  margin-left: 240px;
  width: 241px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 11px 19px #b1acac;
}
.about__card-3_1 {
  position: absolute;
  padding: 2rem;
  height: 395px;
  background-color: white;
  border-radius: 20px;
  width: 280px;
  height: 340px;
  bottom: 243px;
  margin-left: 221px;
  z-index: 1;
  box-shadow: 0px 4px 12px #b1acac;
  text-align: center;
}
.about__card-3_1 img {
  width: 60%;
  border-radius: 20px;
}
.about__card-3_1 h3 {
  margin-bottom: 30px;
}
.about__card-3_1--content {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.about__card-3_1--content h2 {
  font-size: 20px;
}
.about__card-3_1--content p {
  font-size: 10px;
}
.about__card-3_1--other {
  width: 102px;
  height: 64px;
  padding: 10px 10px;
  color: #fab408;
  background-color: #fff3d4;
}
.about__card-3_1--it {
  color: #19bf6f;
  width: 102px;
  height: 64px;
  padding: 10px 10px;
  background-color: #dcffee;
}
.about__card-4 {
  position: relative;
  background-color: #f7f7f7;
  bottom: 485px;
  margin-left: 28px;
  width: 250px;
  height: 83px;
  border-radius: 20px;
  box-shadow: 0px 11px 19px #b1acac;
}
.about__card-4_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 250px;
  padding: 12px;
  height: 74px;
  border-radius: 20px;
}
.about__card-4--icon {
  background-color: #3c50e0;
  padding: 7px 12px;
  border-radius: 10px;
}
.about__card-4--icon i {
  color: white;
  font-size: 20px;
}
.about__card-4--content h1 {
  font-size: 13px;
  font-weight: 600;
}
.about__card-4--content p {
  font-size: 12px;
  color: #898e92;
  font-weight: 400;
}
.about__ornament2 {
  position: absolute;
  left: 35%;
  bottom: 17%;
}
.about__content {
  max-width: 100%;
}
.about__content h1 {
  font-size: 60px;
  color: #04004d;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 40px;
}
.about__content p {
  font-size: 17px;
  color: #336c61;
  font-weight: 400;
}
.about__content a {
  text-decoration: none;
  color: #336c61;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/*About Section End*/
/*About Section End*/
/*Feature Section Start*/
/*Feature Section Start*/
.feature {
  position: absolute;
  top: 200%;
}
.feature__container {
  padding: 2rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.feature__box {
  width: 100%;
  padding: 30px;
  text-align: center;
}
.feature__box--info h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 30px;
}
.feature__box--info p {
  margin-top: 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

/*Feature Section End*/
/*Feature Section End*/
/*Responsive Design*/
/*Responsive Design*/
/*Mobile Design Section Start*/
@media (max-width: 576px) {
  .header__menu {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__icon {
    display: block;
    position: relative;
    top: 20px;
    cursor: pointer;
  }
  .header-active {
    display: none;
  }
  .header-active__menu--bar {
    display: block;
    background-color: red;
    border-radius: 20%;
    height: 100%;
    position: relative;
    left: 45%;
    bottom: 20px;
    width: 40%;
    transition: 0.8s;
    text-align: center;
  }
  .header-active__menu--bar li:nth-child(odd) {
    background-color: rgb(29, 27, 27);
  }
  .header-active__menu--bar li:nth-child(even) {
    background-color: rgb(37, 37, 37);
  }
  .header-active__menu--bar li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid white;
  }
  .header-active__menu--bar li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 500;
  }
  .home__container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .home__sub-title {
    font-size: 15px;
    margin-top: 10px;
  }
  .home__title {
    font-size: 50px;
    line-height: 70px;
  }
  .home__para {
    font-size: 15px;
  }
  .home__img {
    width: 100%;
  }
  .home__img img {
    width: 100%;
  }
  .home__ornament {
    display: none;
  }
  .about {
    position: relative;
    bottom: 1350px;
  }
  .about__container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__card {
    width: 100%;
  }
  .about__card-2 {
    bottom: 4px;
    width: 315px;
  }
  .about__card-3 {
    bottom: 127px;
    margin-left: 193px;
  }
  .about__card-3_1 {
    width: 260px;
    margin-left: 175px;
  }
  .about__ornament2 {
    left: 28%;
  }
  .about__content a {
    justify-content: center;
    font-size: 16px;
  }
  .about__content h1 {
    font-size: 46px;
  }
  .about__content p {
    font-size: 16px;
  }
  .about__card-4 {
    bottom: 466px;
    margin-left: 3px;
  }
  .feature {
    position: relative;
    bottom: 1300px;
  }
  .feature__container {
    flex-direction: column;
    gap: 20px;
  }
}
/*Mobile Design Section End*/
/*Mobile Design Section End*//*# sourceMappingURL=style.css.map */